<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <title>That's My Cut!</title>
  </head>
  <body>
    <div class="container">
      <h1>Update {{ stylist.getStylistName }}'s info</h1>
      <form action="/stylists/{{ stylist.getId }}/stylist_name" method="post">
        <input name="_method" type="hidden" value="patch">
        <div class="input-field">
          <label for="stylist_name">Rename your stylist:</label>
          <input id="stylist_name" name="stylist_name" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
      </form>
      <form action="/stylist/{{ stylist.getId }}/delete" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="btn btn-danger" type="submit" name="button">Delete stylist</button>
      </form>
      <form class = "form-inline" action="/" method="get">
        <div class="form-group">
          <button class = "btn btn-primary" type="submit">Home</button>
        </div>
      </form>
    </div>
  </body>
</html>
